
.main {
  box-sizing: border-box;
  padding: 0 50px 0 50px;
  min-width: 1280px;
  max-width: 1340px;
  width: 100%;
  display: grid;
  grid-gap: 36px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto 0 auto;
}
