.ingredientCard {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.ingredientImage {
  width: 100%;
  box-sizing: border-box;
  transition: opacity 0.25s;
}

.ingredientCard:hover .ingredientImage {
  opacity: 0.85;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredientName {
  text-align: center;
  /*padding-bottom: 24px;*/
  height: 48px;
}
